html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

body {
	text-align: center;
}

h1 {
	font-size: 80px;
	font-weight: bold;
	left: 0;
    line-height: 200px;
  
}
#wordBlank {
	letter-spacing: 2px;
}
 
#turns {
	margin-top: 35px;
}

.inputs {
    display: flex;
    list-style: none;
    position: absolute;
    top: 66px;
    right: 0;

}

#guess {
	margin-top: 40px;
	height: 60px;
	width: 63px;
	font-size: 30px;
	text-align: center;
}

#letters {
	margin-top: 30px;
}

#results {
	margin-top: 30px;
}





